*
#Order_Content{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(../../rsc/image/Background.webp);
    background-size: 100vw auto;
    background-repeat: repeat;
    aspect-ratio: 1/3.63;
    padding-top: 3%;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 3%;
    font-family: noto;
}
@font-face {
    font-family: noto;
    src: url(../../rsc/font/NotoSerif-Bold.ttf);
}
#Food_Container{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
#Salty_Food_Container{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.Salty_Food_Container_2item{
    display: flex;
    width: 49.55%;
    justify-content: space-between;
}
.Salty_Food{
    width: 100%;
}
.sweety_food{
    width: 100%;
}
.drink{
    width: 100%;
}
/* ------------------------------------------------------contact---------------------------------------- */
#contact{
    position: fixed;
    bottom: 1vw;
    left: 1vw;
    font-size: 30px;
    animation-duration: 5s;
    animation-delay: 10s;
    color: white;
    background-image: linear-gradient(to right top,rgb(172, 222, 223),rgb(72, 213, 190),rgb(172, 222, 223));
    border: 3px solid rgba(240, 240, 240, 0.5);
    padding: 10px;
    border-radius: 50%;
    z-index: 10;
}
/*--------------------------------------------------------content-----------------------------------------*/
.Food_Title{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4vw;
    margin-bottom: 3.2%; 
    width: 100%;
    text-align: center;
    background-image: linear-gradient(to left,rgb(248, 38, 41),rgb(248, 38, 41),rgb(255, 101, 104),rgb(30, 188, 255),rgb(5, 73, 104),rgb(30, 188, 255),rgb(255, 101, 104),rgb(248, 38, 41),rgb(248, 38, 41));
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -o-background-clip: text;
    color: transparent;
    transition: 1s;
}
.Salty_Food_Title{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4vw;
    margin-top: 2.3%;
    margin-bottom: 3.2%; 
    width: 100%;
    text-align: center;
    background-image: linear-gradient(to left,rgb(248, 38, 41),rgb(248, 38, 41),rgb(255, 101, 104),rgb(30, 188, 255),rgb(5, 73, 104),rgb(30, 188, 255),rgb(255, 101, 104),rgb(248, 38, 41),rgb(248, 38, 41));
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -o-background-clip: text;
    color: transparent;
    transition: 1s;
}
.Food_Title > a >i{
    background-image: linear-gradient(to left top,rgb(255, 101, 104),rgb(255, 101, 104),rgb(30, 188, 255),rgb(30, 188, 255));
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -o-background-clip: text;
    color: transparent; 
}
.Food_Title > a{
    margin-left: 1%;
    margin-right: 1%;
}
.Salty_Food_Title > a >i{
    background-image: linear-gradient(to left top,rgb(255, 101, 104),rgb(255, 101, 104),rgb(30, 188, 255),rgb(30, 188, 255));
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -o-background-clip: text;
    color: transparent; 
}
.Salty_Food_Title > a{
    margin-left: 1%;
    margin-right: 1%;
}
/*------------------------------hot_food_swiper-------------------------*/
.swiper-container {
width: 100%;
height: max-content;
}
.swiper-slide {

display: -webkit-box;
display: -ms-flexbox;
display: -webkit-flex;
display: flex;
-webkit-box-pack: center;
-ms-flex-pack: center;
-webkit-justify-content: center;
justify-content: center;
-webkit-box-align: center;
-ms-flex-align: center;
-webkit-align-items: center;
align-items: center;
}
.swiper-wrapper{
    width: 100%;
    height: max-content;
}
#slideshow_wrapper{
    width: 100%;
    height: max-content;
    position: relative;
    display: flex;
    overflow: hidden;
    margin-bottom: 2.5vw;
}
/*-------------------swiper button + pagination----------------------------  */
.swiper-button-next::after{
    display: none;
}
.swiper-button-prev::after{
    display: none;
}
.swiper-pagination{
    position: relative !important;
    margin-top: 0.2vw;
}
.swiper-button-prev{
    left: var(--swiper-navigation-sides-offset,0.02vw);
    height: fit-content;
}
.swiper-button-next{
    right: var(--swiper-navigation-sides-offset,0.02vw);
    height: fit-content;
}
.swiper-button-prev:hover{
    opacity: 1 !important;
}
.swiper-button-next:hover{
    opacity: 1 !important;
}
/*-------------------------option slider dots----------------------------  */
.swiper-pagination-bullet{
    width: var(--swiper-pagination-bullet-width,var(--swiper-pagination-bullet-size,1vw));
    height: var(--swiper-pagination-bullet-height,var(--swiper-pagination-bullet-size,1vw));
    background: var(--swiper-pagination-bullet-inactive-color,linear-gradient(to top,rgb(70, 218, 238),rgb(4, 94, 94)));
    transition: 1s;
}
.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 var(--swiper-pagination-bullet-horizontal-gap,0.5vw);
}
:root {
    --swiper-theme-color: #000000;
}
/* -----------------------------------Food_instance-------------------------------------*/
.Food_Item{
    text-decoration: none;
    display: flex;
    flex-direction: column;
    width: 24%;
    position: relative;
    justify-content: center;
    background-color: rgb(245, 245, 245);
    border: 0.2vw solid black;
    border-radius: 1vw;
    overflow: hidden;
}
.Salty_Food_Item{
    text-decoration: none;
    display: flex;
    flex-direction: column;
    width: 48.5%;
    position: relative;
    justify-content: center;
    background-color: rgb(245, 245, 245);
    border: 0.2vw solid black;
    border-radius: 1vw;
    overflow: hidden;
}
.Food_Item:hover{
    border: 0.2vw solid red;
}
.Salty_Food_Item:hover{
    border: 0.2vw solid red;
    -webkit-animation-name:fa-bounce-my;
    animation-name:fa-bounce-my;
    -webkit-animation-delay:var(--fa-animation-delay,0s);
    animation-delay:var(--fa-animation-delay,0s);
    -webkit-animation-direction:var(--fa-animation-direction,normal);
    animation-direction:var(--fa-animation-direction,normal);
    -webkit-animation-duration:var(--fa-animation-duration,1s);
    animation-duration:var(--fa-animation-duration,1s);
    -webkit-animation-iteration-count:var(--fa-animation-iteration-count,1);
    animation-iteration-count:var(--fa-animation-iteration-count,1);
}
.Food_Item:hover > .Food_Item_Buynow{
    display: flex;
}
.Salty_Food_Item:hover > .Food_Item_Buynow{
    display: flex;
}
.Food_Item_Buynow{
    position: absolute;
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(57, 57, 57, 0.5);
    z-index: 2;
}
.fa-circle-check{
    font-size: 3vw;
    color: red;
}
.character_icon >img{
    width: 2.8vw;
    height: same-as-width;
    border: 0.12vw solid gold;
    border-radius: 50%;
}
.character_icon{
    position: absolute;
    top: 0.8vw;
    left: 0.8vw;
    z-index: 1;
}
.fa-heart{
    position: absolute;
    top: 3.4vw;
    left: 0.7vw;
    color: red;
    font-size: 1.5vw;
    text-shadow: 0vw 0.1vw black,
                 -0vw 0.1vw black;
    /* z-index: -1; */
    background-color: transparent;
}
.fa-flip{
    -webkit-animation-duration:var(--fa-animation-duration,10s);
    -webkit-animation-delay:var(--fa-animation-delay,2s);
    animation-delay:var(--fa-animation-delay,2s);
    animation-duration:var(--fa-animation-duration,10s);
}
.Food_Item_type{
    display: flex;
    margin-left: 1.8vw;
    margin-right: 1.5vw;
    justify-content: space-between;
    margin-top: 1vw;
    margin-bottom: 0.5vw;
    align-items: center;
}
.Food_Item_des{
    margin-left: 1.8vw;
    margin-right: 1.5vw;
    height: 3vw;
    text-align: left;
    justify-content: flex-start;
    margin-bottom: 0.8vw;
}
.Food_Item_type_right{
    font-size: 0.8vw;
    padding: 0.1vw;
    padding-bottom: 0.3vw;
    padding-left: 0.9vw;
    padding-right: 0.9vw;
    border: 1px solid black;
    box-shadow: 0.1vw 0.1vw gray;
    border-radius: 5px;
    display: inline-block;
    text-align: center;
    background-image: linear-gradient(to left,rgb(248, 38, 41),rgb(255, 101, 104),rgb(255, 101, 104),rgb(255, 101, 104),rgb(248, 38, 41));
    color: rgb(133, 242, 242);
    text-shadow: 0.08vw 0.08vw rgb(111, 111, 111);
    animation-name: glow;
    -webkit-animation-name: glow;
    -moz-animation-name: glow;
    -o-animation-name: glow;
    animation-duration: 10s;
    -webkit-animation-duration: 10s;
    -moz-animation-duration: 10s;
    -o-animation-duration: 10s;
    transition: 1s;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -o-animation-iteration-count: infinite;
    overflow: hidden;
}
.Food_Item_Name{
    background-image: linear-gradient(to top,rgb(108,165,173),rgb(76, 102, 102));
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -o-background-clip: text;
    color: transparent;
    font-size: 1.3vw;
    margin-top: 0.5vw;
    margin-bottom: 0.2vw;
}
.Food_Item_rating_price{
    display: flex;
    justify-content: space-between;
    margin-left: 1.5vw;
    margin-right: 1.5vw;
    margin-bottom: 0.8vw;
    align-items: center;
}
.Food_Item_rating{
    display: flex;
    align-items: center;
}
.price{
    font-size: 1.8vw;
    color: black;
}
.rating{
    padding-top: 0.25vw;
    font-size: 1.2vw;
    color: black;
}
.rating > font{
    font-size: 0.9vw;
    color: gray;
}
/*------------------------------keyframes----------------------------*/
@keyframes fa-bounce-my{
    0%{-webkit-transform:scale(0.98) translateY(0);
        transform:scale(0.98) translateY(0)}
    50%{-webkit-transform:scale(var(--fa-bounce-start-scale-x,0.95),var(--fa-bounce-start-scale-y,.95)) translateY(0);
        transform:scale(var(--fa-bounce-start-scale-x,0.95),var(--fa-bounce-start-scale-y,.95)) translateY(0)}
}
@keyframes glow{
    0%{
        color: rgb(133, 242, 242);
    }
    20%{
        color: rgb(253, 255, 132);
    }
    40%{
        color: rgb(133, 242, 242);
    }
    60%{
        color: rgb(253, 255, 132);
    }
    80%{
        color: rgb(133, 242, 242);
    }
    100%{
        color: rgb(253, 255, 132);
    }
}
@keyframes right_to_right {
    from{
        transform: translateX(13%);
    }
    to{
        transform: translateX(20%);
    }
}
@-webkit-keyframes right_to_right {
    from{
        transform: translateX(13%);
    }
    to{
        transform: translateX(20%);
    }
}
@-moz-keyframes right_to_right {
    from{
        transform: translateX(13%);
    }
    to{
        transform: translateX(20%);
    }
}
@-o-keyframes right_to_right {
    from{
        transform: translateX(13%);
    }
    to{
        transform: translateX(20%);
    }
}

@keyframes left_to_left {
    from{
        transform: translateX(18%);
    }
    to{
        transform: translateX(11%);
    }
}
@-webkit-keyframes left_to_left {
    from{
        transform: translateX(18%);
    }
    to{
        transform: translateX(11%);
    }
}
@-moz-keyframes left_to_left {
    from{
        transform: translateX(18%);
    }
    to{
        transform: translateX(11%);
    }
}
@-o-keyframes left_to_left {
    from{
        transform: translateX(18%);
    }
    to{
        transform: translateX(11%);
    }
}
/*---------------------------------------responsive---------------------------------------------*/
/*-------------------------slider 3 item----------------------------------- */
@media only screen and (min-width:851px) and (max-width: 1140px){
    .Food_Item{
        flex: 0 0 31%;
        margin-left: 1vw;
        margin-right: 0.9vw;
    }
    .Food_Title{
        font-size: 5vw;
    }
    .Salty_Food_Title{
        font-size: 5vw;
    }
    .fa-circle-check{
        font-size: 4vw;
    }
    .swiper-button-prev{
        left: var(--swiper-navigation-sides-offset,1vw) !important;
        height: fit-content;
    }
    .swiper-button-next{
        right: var(--swiper-navigation-sides-offset,0.9vw) !important;
        height: fit-content;
    }
    .swiper-button-next>img,.swiper-button-prev >img{
        width: 4.2vw !important;
        height: 4.2vw !important;
    }
    .character_icon > img{
        width: 4vw;
        height: 4vw;
    }
    .character_icon >.fa-heart{
        top: 4.8vw;
        font-size: 2.5vw;
    }
    .Salty_Food_Item >.character_icon > img{
        width: 5vw;
        height: 5vw;
    }
    .Salty_Food_Item > .character_icon >.fa-heart{
        top: 6vw;
        font-size: 3.5vw;
        left: 0.8vw;
    }
    .Food_Item_Name{
        font-size: 2vw;
    }
    .Food_Item_type > div{
        font-size: 1.3vw !important;
    }
    .Food_Item_des > div{
        font-size: 1.3vw !important;
    }
    .Food_Item_des{
        height: 6vw !important;
        margin-top: 1.5vw;
    }
    .Food_Item_rating > .rating{
        font-size: 2vw !important;
    }
    .fa-star{
        font-size: 2vw !important;
    }
    .Food_Item_rating > .rating > font{
        font-size: 1.5vw !important;
    }
    .price{
        font-size: 2.5vw;
    }
}
/*------------------------------slider 2 item-------------------------------  */
@media only screen and (max-width:851px){
    .Food_Title{
        font-size: 6vw;
    }
    .Salty_Food_Title{
        font-size: 6vw;
    }
    .Food_Item{
        flex: 1 0 48%;
        margin-right: 1.66%;
    }
    .fa-circle-check{
        font-size: 5vw;
    }
    #Food_Container{
        justify-content: space-between;
    }
    .swiper-button-prev{
        left: var(--swiper-navigation-sides-offset,0.5vw) !important;
        height: fit-content;
    }
    .swiper-button-next{
        right: var(--swiper-navigation-sides-offset,1.8vw) !important;
        height: fit-content;
    }
    .swiper-button-next>img,.swiper-button-prev >img{
        width: 5vw !important;
        height: 5vw !important;
    }
    .character_icon > img{
        width: 6vw;
        height: 6vw;
    }
    .character_icon >.fa-heart{
        top: 7vw;
        left: 1vw !important;
        font-size: 4vw;
    }
    .Food_Item_Name{
        font-size: 3vw !important;
    }
    .Food_Item_type > div{
        font-size: 2vw !important;
    }
    .Food_Item_des > div{
        font-size: 2vw !important;
        height: 100%;
        text-overflow: ellipsis;
    }
    .Food_Item_des{
        height: 7vw !important;
        margin-top: 1.5vw;
        
    }
    .Food_Item_rating > .rating{
        font-size: 3vw !important;
    }
    .fa-star{
        font-size: 3vw !important;
    }
    .Food_Item_rating > .rating > font{
        font-size: 2vw !important;
    }
    .price{
        font-size: 3.5vw;
    }
}
@media only screen and (max-width:800px) {
    .Food_Item{
        flex: 1 0 48%;
        margin-right: 1.87%;
    }
}
@media only screen and (max-width:870px){
    .swiper-pagination-bullet{
        width: var(--swiper-pagination-bullet-width,var(--swiper-pagination-bullet-size,1.5vw));
        height: var(--swiper-pagination-bullet-height,var(--swiper-pagination-bullet-size,1.5vw));}
}
@media only screen and (max-width:520px) {
    .Food_Item{
        flex: 1 0 48%;
        margin-right: 1.8%;
    }
}
@media only screen and (max-width:300px) {
    .Food_Item{
        flex: 1 0 48%;
        margin-right: 1.6%;
    }
}
/*------------------------------Salty FOOD mobile-------------------------*/
@media only screen and (max-width:1140px) {
    #Salty_Food_Container{
        display: block;
        width: 98%;
        margin-left: 1%;
        justify-self: center;
    }
    .Salty_Food{
        margin-bottom: 2vw;
    }
    .sweety_food{
        margin-bottom: 2vw;
    }
    .Salty_Food_Container_2item{
        width: 100%;
        margin-top: 1.7%;
    }
    .Salty_Food_Item{
        width: 48.5%;
    }
    .Salty_Food_Item{
        border: 0.3vw solid black;
    }
    .Salty_Food_Item:hover{
        border: 0.3vw solid red;
    }
    #Order_Content{
        background-size: 100vw max-content;
        padding-bottom: 10%;
    }
}
@media only screen and (max-width:1140px) and (min-width:851px){
    #Salty_Food_Container{
        display: block;
        width: 80%;
        margin-left: 10%;
        justify-self: center;
    }
}
@media only screen and (min-width:1141px) {
    #Salty_Food_Container{
        margin-bottom: 0.9vw;
    }
}