*
#content{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(../../rsc/image/Background.webp);
    background-size: 100vw auto;
    background-repeat: repeat;
    height: max-content;
    padding-top: 3%;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 3%;
    font-family: noto;
}
@font-face {
    font-family: noto;
    src: url(../../rsc/font/NotoSerif-Bold.ttf);
}
@font-face {
    font-family: noto-re;
    src: url(../../rsc/font/NotoSerif-Regular.ttf);
}
.item_img{
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../../rsc/image/Background_Item_2_Star.webp);
    width: 100%;
    aspect-ratio: 1/1;
    background-size: 100% 100%;
}
.item_img>img{
    transition: 1s;
    width: 75%;
}
.item_img:hover>img{
    transform: scale(1.1);
    transition: 1s;
}
.repice_container{
    display: flex;
    width: 100%;
    flex-direction: column;
    border-top: 5px solid #deb76c;
    border-bottom: 5px solid #deb76c;
    border-radius: 5px;
}
.repice_container_1{
    display: flex;
    width: 100%;
    justify-content: flex-start;
    background-color: #1a1d23;

}
.info_repice{
    display: flex;
    flex-direction: column;
    width: 50%;
    background-color: #1a1d23;
    color: white;
    padding: 3% 3%;
    padding-bottom: 2%;
}
.repice{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 5%;
    border: 2px solid #B2B2B4;
    border-bottom: 1px solid #B2B2B4;
    border-radius: 4px;
    overflow: hidden;
    height: fit-content;
}
.tag-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    color: white;
}
.tag{
    width: 100%;
    display: flex;
}
.repice_and_tag{
    margin: 3% 6%;
    width: 25%;
    display: flex;
    flex-direction: column;
}
.item_name{
    font-size: 1.6vw;
    color: rgb(0, 0, 0);
    padding: 3% 0%;
    text-shadow: 0 0 10px rgb(255, 206, 206);
    background-color: #deb76c;
    width: 100%;
    text-align: center;
}
.item_info,.item_img,.item_name{
    border-bottom: 1px solid #B2B2B4;
}
.item_info{
    background-color: #1a1d23;
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.get{
    background-color: #5e5e5e;
}
.get >.title{
    color: goldenrod;
}
.title,.info{
    color: white;
    padding: 3%;
    font-size: 1vw;
}
.title{
    width: 30%;
}
.info{
    width: 70%;
    font-family: noto-re;
    display: flex;
    align-items: center;
}
.info>i{
    color: goldenrod;
}
.info_img{
    width: 10%;
    margin-right: 5%;
}
.info_type{
    text-decoration: none;
    color: goldenrod;
}
.info_type:hover{
    text-decoration: underline;
}
.info_name{
    font-size: 3vw;
}
.info_des,li>a, li{
    font-size: 1.3vw;
    font-family: noto-re;
}
.hot_feed > .info_des>i>a, .hot_feed > .info_des, li,li>a{
    font-size: 1vw;
}
.info_des>a, li>a, .gallery_des>a, .version_link, .user-name>a,.info_des>i>a{
    text-decoration: none;
    color: goldenrod;
}
.info_des>a:hover, li>a:hover,.gallery_des>a:hover, .version_link:hover,.user-name>a:hover,.info_des>i>a:hover{
    text-decoration: underline;
}
.info_des>font,li>a>font{
    font-family: noto;
}
.info_title{
    font-size: 1.5vw;
    margin-top: 5%;
    margin-bottom: 3%;
    padding-bottom: 2%;
    border-bottom: 2px solid #B2B2B4;
}
.info_title_1{
    font-size: 1.2vw;
    margin-bottom: 3%;
}
.gallery{
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.gallery_img{
    width: 90%;
    border: 1px solid #B2B2B4;
}
.gallery_des{
    font-size: 0.7vw;
    text-align: center;
    margin-top: 2%;
}
.version{
    padding: 2%;
    padding-bottom: 0px;
    border-bottom: 1px solid #B2B2B4;
}
.version_container{
    margin-top: 3%;
    border: 1px solid goldenrod;
    border-radius: 5px;
    overflow: hidden;
}
.tag{
    display: flex;
    width: 100%;
}
.tag_item{
    padding: 2%;
    margin: 0% 1%;
    margin-top: 2%;
    background-color: #1a1d23;
    color: white;
    font-size: 1vw;
    border: 1px solid gray;
    border-radius: 5px;
    display: flex;
    width: max-content;
    align-items: center;
    box-shadow: 1px 1px salmon;
    cursor: pointer;
    transition: 1s;
    font-family: noto-re;
}
.tag_item:hover{
    transform: translateX(1px) translateY(1px);
    transition: 1s;
}
.tag_item>font{
    background-color: gray;
    color: white;
    padding: 2% 0%;
    border-radius: 5px;
}
.comment_container{
    display: flex;
    flex-direction: column;
    width: 55%;
    color: white;
    margin: 0% 6%;
    margin-bottom: 1.5%;
}
.cmt{
    display: flex;
    flex-direction: column;
    width: 98%;
    background-color: #272935;
    border: 1px solid #B2B2B4;
    border-radius: 5px;
    padding: 2%;
    padding-right: 0%;
    margin-bottom: 3%;
}
.user-cmt{
    display: flex;
    width: 98%;
    align-items: center;
    padding-bottom: 1.5%;
    position: relative;
}
.left-user-cmt{
    display: flex;
    align-items: center;
    width: 98%;
}
.user-avt{
    width: 5%;
    aspect-ratio: 1/1;
    border: 2px solid #1a1d23;
    border-radius: 50%;
    overflow: hidden;
    transition: 1s;
    margin-right: 2%;
    cursor: pointer;
}
.user-avt:hover{
    border-color: antiquewhite;
    transition: 1s;
}
.avt-img{
    width: 100%;
    height: 100%;
}
.user-name,.comment{
    font-family: noto-re;
    font-size: 1vw;
    display: flex;
}
.user-name>font{
    display: flex;
    align-items: center;
}
.fa-circle{
    font-size: 0.2vw;
}
.copy-link{
    cursor: pointer;
    padding: 1%;
    padding-top: 0px;
}
.fa-ellipsis-vertical{
    font-size: 1vw;
    transition: 1s;
}
.copy-link:hover> .fa-ellipsis-vertical{
    color: #deb76c;
    transition: 1s;
}
.copy-link:hover >.copy{
    display: flex;
}
.copy{
    display: none;
    position: absolute;
    align-items: center;
    font-size: 1vw;
    font-family: noto-re;
    border: 1px solid #B2B2B4;
    padding: 0.5%;
    right: -6.5%;
    bottom: -48%;
    border-radius: 5px;
    transition: 1s;
    animation: opicity 1s linear 1;
    background-color: #1a1d23;
    width: 15%;
}
.copy_item{
    display: flex;
    padding: 6%;
    align-items: center;
    width: 100%;
}
.copy:hover>.copy_item{
    background-color: rgba(255, 224, 167,0.1);
}
.copy:hover{
    color: goldenrod;
    transition: 1s;
}
@keyframes opicity {
    from{
        opacity: 0.5;
    }
    to{
        opacity: 1;
    }
}
.reply{
    display: flex;
    flex-direction: column;
    margin-top: 3%;
    border-top: 2px solid #B2B2B4;
    width: 96%;
}
.reply>.cmt{
    margin-top: 3%;
    padding: 0% 3%;
    margin-bottom: 0%;
    padding-right: 0%;
    border: none;
    border-radius: 0px;
    border-left: 3px solid #757575;
    width: 100%;
}
.comment{
    width: 95%;
    flex-direction: column;
}
.edited{
    margin-top: 1.5%;
    color: gray;
}
.hot_feed{
    width: 30%;
    display: flex;
    flex-direction: column;
    color: white;
}
.hot_container{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 1.5% 0%;
    margin-bottom: 8%;
    border: 2px solid #B2B2B4;
    border-radius: 5px;
    overflow: hidden;
}
.hot_item{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 92%;
    background-color: #272935;
    padding: 4%;
    border-top: 1px solid #B2B2B4;
    font-size: 1.1vw;
    font-family: noto-re;
    cursor: pointer;
    transition: 1s;
}
.hot_item:hover{
    background-color: #1a1d23;
    transition: 1s;
}
.hot_title:hover{
    background-color: #deb76c;
}
.hot_item:hover>.hot_number{
    background-color: #deb76c;
    color: black;
    transition: 1s;
}
.hot_item>a{
    text-decoration: none;
    color: white;
    transition: 1s;
}
.hot_item>a:hover{
    text-decoration: underline;
    color: #deb76c;
    transition: 1s;
}
.hot_number{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1a1d23;
    border: 2px solid #B2B2B4;
    width: 10%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    margin-right: 4%;
    transition: 1s;
}
.hot_title{
    justify-content: center;
    background-color: #deb76c;
    font-family: noto;
    font-size: 1.5vw;
    transition: 1s;
}
.hot_title:hover{
    color: black;
    transition: 1s;
}
@media only screen and (max-width:1100px) and (min-width:761px) {
    .repice_and_tag{
        margin: 3% 3%;
        width: 33%;
    }
    .info_repice{
        width: 54%;
    }
    .item_name,.info_title,.hot_title{
        font-size: 2vw;
    }
    .title,.info,.hot_feed > .info_des , .copy{
        font-size: 1.3vw;
    }
    .tag_item,.user-name,.fa-ellipsis-vertical,.comment,.hot_feed > .info_des>i>a{
        font-size: 1.25vw;
    }
    .info_name{
        font-size: 4vw;
    }
    .info_des, li>a, li, .info_title_1,.version_link,.hot_item{
        font-size: 1.5vw;
    }
    .gallery{
        width: 40%;
    }
    .gallery_des{
        font-size: 1vw;
    }
    .comment_container{
        margin: 0% 3%;
        width: 57%;
    }
    .hot_feed{
        width: 33%;
    }
    .user-avt{
        width: 7%;
    }
    .fa-circle{
        font-size: 0.4vw;
    }
    .cmt{
        margin-bottom: 5%;
    }
    .copy{
        width: 20%;
    }
}
@media only screen and (max-width:760px) and (min-width:621px){
    .repice_and_tag{
        margin: 3% 2%;
        width: 37.5%;
    }
    .info_repice{
        width: 54%;
    }
    .item_name,.info_title,.hot_title{
        font-size: 2.1vw;
    }
    .title,.info,.hot_feed > .info_des ,.copy{
        font-size: 1.45vw;
    }
    .tag_item,.user-name,.fa-ellipsis-vertical,.comment,.hot_feed > .info_des>i>a{
        font-size: 1.4vw;
    }
    .info_name{
        font-size: 4.5vw;
    }
    .info_des, li>a, li, .info_title_1,.version_link,.hot_item{
        font-size: 1.7vw;
    }
    .gallery{
        width: 40%;
    }
    .gallery_des{
        font-size: 1.1vw;
    }
    .comment_container{
        margin: 0% 2%;
        width: 59%;
    }
    .hot_feed{
        width: 34%;
    }
    .user-avt{
        width: 7%;
    }
    .fa-circle{
        font-size: 0.5vw;
    }
    .cmt{
        margin-bottom: 5%;
    }
    .copy{
        width: 22%;
    }
}
@media only screen and (max-width:620px) and (min-width:561px){
    .repice_and_tag{
        margin: 3% 2%;
        width: 37.5%;
    }
    .info_repice{
        width: 54%;
    }
    .item_name,.info_title,.hot_title{
        font-size: 2.3vw;
    }
    .title,.info,.hot_feed > .info_des ,.copy{
        font-size: 1.6vw;
    }
    .tag_item,.user-name,.fa-ellipsis-vertical,.comment,.hot_feed > .info_des>i>a{
        font-size: 1.5vw;
    }
    .info_name{
        font-size: 5vw;
    }
    .info_des, li>a, li, .info_title_1,.version_link,.hot_item{
        font-size: 1.9vw;
    }
    .gallery{
        width: 40%;
    }
    .gallery_des{
        font-size: 1.3vw;
    }
    .comment_container{
        margin: 0% 2%;
        width: 59%;
    }
    .hot_feed{
        width: 34%;
    }
    .user-avt{
        width: 7%;
    }
    .fa-circle{
        font-size: 0.7vw;
    }
    .cmt{
        margin-bottom: 5%;
    }
    .copy{
        width: 23%;
    }
}
@media only screen and (max-width:560px){
    .repice_container_1{
        flex-direction: column;
        align-items: center;
    }
    .repice_and_tag{
        margin: 3% 2%;
        width: 75%;
        margin-top: 8%;
    }
    .item_name,.info_title,.hot_title{
        font-size: 4vw;
        text-align: center;
    }
    .tag{
        justify-content: center;
    }
    .copy{
        width: 27%;
    }
    .title,.info,.hot_feed > .info_des ,.copy{
        font-size: 3vw;
    }
    .tag_item,.user-name,.fa-ellipsis-vertical,.comment{
        font-size: 3vw;
    }
    .info_name{
        font-size: 6vw;
        text-align: center;
    }
    .info_des, li>a, li, .info_title_1,.version_link,.hot_item,.hot_feed > .info_des>i>a{
        font-size: 3vw;
    }
    .info_repice{
        width: 90%;
    }
    .gallery{
        width: 50%;
    }
    .gallery_des{
        font-size: 2vw;
    }
    .comment_container{
        margin: 0% 2%;
        width: 90%;
    }
    .hot_feed{
        width: 90%;
    }
    .user-avt{
        width: 10%;
    }
    .fa-circle{
        font-size: 0.7vw;
    }
    .cmt{
        margin-bottom: 5%;
    }
    #faq{
        margin-bottom: 8%;
    }
}