*
/*-------------------------------------------Hot_Repices--------------------------------------------------*/
#content{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(../../rsc/image/Background.webp);
    background-size: 100vw auto;
    background-repeat: repeat;
    height: max-content;
    overflow: hidden;
    padding-top: 3%;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 5%;
    font-family: noto;
}
#Hot_Repices_container{
    display: flex;
    width: 100%;
    justify-content: space-around;
    position: relative;
    margin-bottom: 5%;
}
#Hot_repices_container_2item{
    display: flex;
    width: 50%;
    justify-content: space-around;
}
.Hot_Repices_item{
    display: flex;
    width: 43%;
    transition: 1s;
}
.Hot_Repices_item:hover{
    transform: scale(1.05);
    transition: 1s;
}
#Hot_repices{
    display: flex;
    position: relative;
}
#food{
    position: absolute;
    top: 14%;
    left: 14%;
}
.Hot_Repices_Title{
    font-family: Noto;
    text-align: center;
    font-weight: bold;
    width: fit-content;
    height: fit-content;
    background-image: linear-gradient(to top,rgb(108,165,173),rgb(172, 222, 223));
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -o-background-clip: text;
    color: transparent;
    font-size: 5vw;
    margin-top: 5%;
    margin-bottom: 5%;
}
#center_line_repices{
    position: absolute;
    background-color: rgb(172, 222, 223);
    width: 80%;
    height: 0.3vw;
    top: -5.5vw;
}
.name_repices{
    position: absolute;
    background-image: linear-gradient(to right top,rgb(172, 222, 223),rgb(72, 213, 190),rgb(172, 222, 223));
    bottom: -15%;
    width: 90%;
    border: 1px solid transparent;
    border-radius: 25px;
    padding: 3%;
    background-size: 300%;
    text-align: center;
    font-family: Noto;
    color: white;
    text-shadow:
      0 0 2px black,
      0 0 4px black,
      0 0 8px rgb(0, 0, 0);
    font-size: 1.1vw;
}
@media only screen and (min-width:1021px){
    #partner{
        display: flex !important;
    }
    #linking_partner{
        display: flex !important;
    }
}
@media only screen and (max-width: 1020px){
    #Hot_Repices_container{
        flex-direction: column;
        align-items: center;
        margin-bottom: 8%;
    }
    .Hot_Repices_Title{
        font-size: 6vw;
    }
    #Hot_repices_container_2item{
        width: 80%;
        justify-content: space-between;

    }
    .line1{
        margin-bottom: 12%;
    }
    .Hot_Repices_Title{
        top: -15%;
    }
    #center_line_repices{
        top: -4vw;
    }
    #customer{
        display: none;
    }
    #linking_customer{
        display: none;
    }
    #content{
        padding-bottom: 0%;
    }
    #customer_partner{
        display: flex;
    }
    .hidden_linking_container{
        margin-bottom: 0px !important;
    }
}
/* --------------------fonface---------------- */
@font-face {
    font-family: noto;
    src: url(../../rsc/font/NotoSerif-Bold.ttf);
}
/* keyframes */
@keyframes bright{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
@keyframes background_position {
    0%, 100% {
        background-position: 0 0;
    }
    50% {
        background-position: 300%;
    }
}
@keyframes slide{
0%{
transform: translateX(0%);
}
10%{
transform: translateX(0%);
}
20%{
transform: translateX(0%);
}
30%{
transform: translateX(-65%);
}
40%{
transform: translateX(-65%);
}
50%{
transform: translateX(-140%);
}
60%{
transform: translateX(-140%);
}
70%{
transform: translateX(-215%);
}
80%{
transform: translateX(-215%);
}
90%{
transform: translateX(-230%);
}
100%{
transform: translateX(-230%);
}
}
@media only screen and (max-width: 1020px){
#Hot_Food_container{
    top: 58%;}

#food_slideshow_container{
    width: 68.8vw;
    align-items: flex-start;
}
#food_slideshow >img{
    width: 45vw;
    padding-left: 0.5vw;
    padding-top: 0vw;
    top: -30%;
    border-radius: 0px;
}
.name_repices{
    font-size: 1.8vw;
}
.title_banner{
    font-size: 6vw;
}
.description_banner{
    font-size: 2vw;
}
.Page_button{
    padding-left: 2%;
    padding-right: 2%;
}
.Page_button_container{
    font-size: 1.5vw;
}
@keyframes down_and_down3{
to{
    top: 54.5%;
}
}
}
@media only screen and (max-width: 500px){
    #food_slideshow_container{
        top: 77%;
    }
    #center_line_Food{
    top: 40%;
    }
}
@media only screen and (min-width: 500px) and (max-width: 600px){
    #food_slideshow_container{
        top: 80%;
    }
    #center_line_Food{
    top: 40%;
    }
}
@media only screen and ( min-width: 601px) and (max-width: 810px){
    #food_slideshow_container{
        top: 84%;
    }
    #center_line_Food{
    top: 50%;
    }
}
@media only screen and (max-width: 900px) and (min-width: 811px){
    #food_slideshow_container{
        top: 90%;
    }
}
@media only screen and (min-width: 901px) and (max-width: 1020px){
    #food_slideshow_container{
        top: 98%;
    }
}
@media only screen and (min-width: 1021px) and (max-width: 1220px){
    #food_slideshow_container{
        top: 103%;
    }
}
@media only screen and (min-width: 1221px) and (max-width: 1400px){
    #food_slideshow_container{
        top: 115%;
    }
}
@media only screen and (min-width: 1401px){
    #food_slideshow_container{
        top: 120%;
    }
}
@media only screen and (max-width: 1140px) and (min-width: 851px){
    #Salty_Food_Container {
        margin-left: 0% !important;
    }
}
/*-----------------------------------------------linking--------------------------------------------------------*/
    .linking_partner_container{
        display: flex;
        flex-direction: column;
        align-items: center;

        width: 100%;
    }
    #linking_container{
        display: flex;
        width: 100%;
        height: 5vw;
        justify-content: center;
        margin-bottom: 5%;
        animation: bright 2s alternate 1;
    }
    #partner,#customer{
        animation: bright 2s alternate 1;
    }
    #linking_container > a > img{
        height: 100%;
    }
    #linking_container > a{
        padding-left: 2.5%;
        padding-right: 2.5%;
    }
    #linking_customer_Title{
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        text-align: center;
        font-weight: bold;
        background-image: linear-gradient(to top,rgb(108,165,173),rgb(172, 222, 223));
        background-clip: text;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        -o-background-clip: text;
        color: transparent;
        font-size: 5vw;
        margin-top: 5%;
    }
    .linking_partner_item{
        filter: grayscale(1);
        transition: filter 2s;
    }
    .linking_partner_item:hover{
        filter: grayscale(0);
        transition: filter 1s;
    }
    .customer_partner{
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;
    }
    #customer_partner{
        display: none;
    }
    .dot_customer_partner{
        width: 3%;
        font-size: 7vw;
        margin-top: 3%;
        background-image: linear-gradient(to top,rgb(70, 218, 238),rgb(4, 94, 94),rgb(70, 218, 238));
        background-clip: text;
        opacity: 0.2;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        -o-background-clip: text;
        color: transparent;
        cursor: pointer;
    }
    .choose{
        opacity: 1 !important;
    }
    @media only screen and (max-width:1020px){
        #customer_partner{
            display: flex;
        }
    }