*
/*-------------------------------------------Hot_Repices--------------------------------------------------*/
#content{
    position: relative;
    display: flex;
    height: fit-content;
}
#Hot_Repices_container{
    display: flex;
    width: 100%;
    justify-content: space-around;
    position: absolute;
    top: 25%;
}
#Hot_repices_container_2item{
    display: flex;
    width: 50%;
    justify-content: space-around;
}
.Hot_Repices_item{
    display: flex;
    width: 43%;
}
.Hot_Repices_item:hover{
    transform: translateX(0.1vw) translateY(0.1vw);
}
#Hot_repices{
    display: flex;
    position: relative;
}
#food{
    position: absolute;
    top: 14%;
    left: 14%;
}
#Hot_Repices_Title{
    top: -65%;
    position: absolute;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    font-weight: bold;
    background-image: linear-gradient(to top,rgb(108,165,173),rgb(172, 222, 223));
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -o-background-clip: text;
    color: transparent;
    font-size: 5vw;
}
#center_line_repices{
    position: absolute;
    background-color: rgb(172, 222, 223);
    width: 80%;
    height: 0.3vw;
    top: -5.5vw;
}
.name_repices{
    position: absolute;
    background-image: linear-gradient(to right top,rgb(172, 222, 223),rgb(72, 213, 190),rgb(172, 222, 223));
    bottom: -15%;
    width: 90%;
    border: 1px solid transparent;
    border-radius: 25px;
    padding: 2%;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    /* font-weight: bold; */
    font-size: 1.6vw;
    text-shadow: 0.1vw 0.1vw black;
}
/* ---------------------------------------------arrow_down--------------------------------------- */
#arrow{
    position: absolute;
    width: 6%;
    left: 48%;
    top: 1%;
    animation-name: down_and_down;
    -webkit-animation-name: down_and_down;
    -moz-animation-name: down_and_down;
    -o-animation-name: down_and_down;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -o-animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    -webkit-animation-timing-function: ease-in-out;
    -moz-animation-timing-function: ease-in-out;
    -o-animation-timing-function: ease-in-out;
    animation-direction: alternate;
    -webkit-animation-direction: alternate;
    -moz-animation-direction: alternate;
    -o-animation-direction: alternate;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    -o-animation-duration: 1s;
}
#arrow2{
    position: absolute;
    width: 6%;
    left: 48%;
    top: 17.5%;
    animation-name: down_and_down2;
    -webkit-animation-name: down_and_down2;
    -moz-animation-name: down_and_down2;
    -o-animation-name: down_and_down2;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -o-animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    -webkit-animation-timing-function: ease-in-out;
    -moz-animation-timing-function: ease-in-out;
    -o-animation-timing-function: ease-in-out;
    animation-direction: alternate;
    -webkit-animation-direction: alternate;
    -moz-animation-direction: alternate;
    -o-animation-direction: alternate;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    -o-animation-duration: 1s;
}
#arrow3{
    position: absolute;
    width: 6%;
    left: 48%;
    top: 34.5%;
    animation-name: down_and_down3;
    -webkit-animation-name: down_and_down3;
    -moz-animation-name: down_and_down3;
    -o-animation-name: down_and_down3;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -o-animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    -webkit-animation-timing-function: ease-in-out;
    -moz-animation-timing-function: ease-in-out;
    -o-animation-timing-function: ease-in-out;
    animation-direction: alternate;
    -webkit-animation-direction: alternate;
    -moz-animation-direction: alternate;
    -o-animation-direction: alternate;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    -o-animation-duration: 1s;
}
#arrow4{
    position: absolute;
    width: 6%;
    left: 48%;
    top: 75.5%;
    animation-name: down_and_down4;
    -webkit-animation-name: down_and_down4;
    -moz-animation-name: down_and_down4;
    -o-animation-name: down_and_down4;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -o-animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    -webkit-animation-timing-function: ease-in-out;
    -moz-animation-timing-function: ease-in-out;
    -o-animation-timing-function: ease-in-out;
    animation-direction: alternate;
    -webkit-animation-direction: alternate;
    -moz-animation-direction: alternate;
    -o-animation-direction: alternate;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    -o-animation-duration: 1s;
    }
#arrow5{
    position: absolute;
    width: 6%;
    left: 48%;
    top: 54%;
    animation-name: down_and_down5;
    -webkit-animation-name: down_and_down5;
    -moz-animation-name: down_and_down5;
    -o-animation-name: down_and_down5;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -o-animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    -webkit-animation-timing-function: ease-in-out;
    -moz-animation-timing-function: ease-in-out;
    -o-animation-timing-function: ease-in-out;
    animation-direction: alternate;
    -webkit-animation-direction: alternate;
    -moz-animation-direction: alternate;
    -o-animation-direction: alternate;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    -o-animation-duration: 1s;
    }    
@keyframes down_and_down{
to{
    top: 1.5%;
}
}
@keyframes down_and_down2{
to{
    top: 18%;
}
}
@keyframes down_and_down3{
to{
    top: 35%;
}
}
@keyframes down_and_down4{
    to{
        top: 76%;
    }
}
@keyframes down_and_down5{
    to{
        top: 54.5%;
    }
    }
@media only screen and (max-width: 1020px){
    #Hot_Repices_container{
        flex-direction: column;
        align-items: center;
    }
    #Hot_repices_container_2item{
        width: 80%;
        justify-content: space-between;
        margin-bottom: 11%;
    }
    #Hot_Repices_Title{
        top: -15%;
    }
    #center_line_repices{
        top: -4vw;
    }
}

/*-------------------------------------------Hot_Food--------------------------------------------------*/
#Hot_Food_container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100px;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    top: 39%;
}
#center_line_Food{
position: absolute;
background-color: rgb(172, 222, 223);
width: 60%;
height: 0.3vw;
top: 60%;
}
#slide_show_background{
    position: absolute;
    top: 60%;
    width: 88vw;
    height: 43vw;
}
#food_slideshow_container{
width: 70vw;
position: absolute;
overflow: hidden;
border: 0.5vw solid #ffffff;
border-radius: 8px;
/* top: 120%; */
height: 36vw;
box-shadow: -1px -1px 30px 5px gray;
}

#food_slideshow{
width: 100%;
height: 100%;
display: flex;
animation: slide 10s infinite;
animation-direction: alternate;
/* animation: slide 10s infinite; */
}
#food_slideshow >img{
width: 100%;
border: 1px solid transparent;
padding-left: 0.5vw;
}
#food_slide_show_item{
width: 100% !important;
height: 100%;
display: flex;
overflow: hidden;
}
@keyframes slide{
0%{
transform: translateX(0%);
}
10%{
transform: translateX(0%);
}
20%{
transform: translateX(0%);
}
30%{
transform: translateX(-65%);
}
40%{
transform: translateX(-65%);
}
50%{
transform: translateX(-140%);
}
60%{
transform: translateX(-140%);
}
70%{
transform: translateX(-215%);
}
80%{
transform: translateX(-215%);
}
90%{
transform: translateX(-230%);
}
100%{
transform: translateX(-230%);
}
}
@media only screen and (max-width: 1020px){
#Hot_Food_container{
    top: 58%;}
#arrow3{top: 54%;}
#food_slideshow_container{
    width: 68.8vw;
    align-items: flex-start;
}
#food_slideshow >img{
    width: 45vw;
    padding-left: 0.5vw;
    padding-top: 0vw;
    top: -30%;
    border-radius: 0px;
}
.name_repices{
    font-size: 2.5vw;
}
.title_banner{
    font-size: 6vw;
}
.description_banner{
    font-size: 2vw;
}
.Page_button{
    padding-left: 2%;
    padding-right: 2%;
}
.Page_button_container{
    font-size: 1.5vw;
}
@keyframes down_and_down3{
to{
    top: 54.5%;
}
}}
@media only screen and (max-width: 500px){
    #food_slideshow_container{
        top: 77%;
    }
    #center_line_Food{
    top: 40%;
    }
}
@media only screen and (min-width: 500px) and (max-width: 600px){
    #food_slideshow_container{
        top: 80%;
    }
    #center_line_Food{
    top: 40%;
    }
}
@media only screen and ( min-width: 601px) and (max-width: 810px){
    #food_slideshow_container{
        top: 84%;
    }
    #center_line_Food{
    top: 50%;
    }
}
@media only screen and (max-width: 900px) and (min-width: 811px){
    #food_slideshow_container{
        top: 90%;
    }
}
@media only screen and (min-width: 901px) and (max-width: 1020px){
    #food_slideshow_container{
        top: 98%;
    }
}
@media only screen and (min-width: 1021px) and (max-width: 1220px){
    #food_slideshow_container{
        top: 103%;
    }
}
@media only screen and (min-width: 1221px) and (max-width: 1400px){
    #food_slideshow_container{
        top: 115%;
    }
}
@media only screen and (min-width: 1401px){
    #food_slideshow_container{
        top: 120%;
    }
}
/*------------------------------------------PROTECT_ENVIROMENT----------------------------------------*/
    #Hot_Food_container_2{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100px;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    top: 60%;
    }
    #food_slideshow > .enviroment_image{
        width: 45vw;
        padding-left: 0.5vw;
        padding-top: 0vw;
        top: -30%;
        border-radius: 0px;
    }
    @media only screen and (max-width: 1020px){
        #Hot_Food_container_2{
            display: none;
        }
        #arrow5{
            display: none;
        }
    }
/*-----------------------------------------------linking--------------------------------------------------------*/
    #linking_partner_container{
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        top: 78%;
        width: 100%;
    }
    #linking_container{
        display: flex;
        width: 100%;
        height: 5vw;
        justify-content: center;
        margin-top: 5%;
    }
    #linking_container > a > img{
        height: 100%;
    }
    #linking_container > a{
        padding-left: 2.5%;
        padding-right: 2.5%;
    }
    #linking_customer_Title{
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        text-align: center;
        font-weight: bold;
        background-image: linear-gradient(to top,rgb(108,165,173),rgb(172, 222, 223));
        background-clip: text;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        -o-background-clip: text;
        color: transparent;
        font-size: 5vw;
        margin-top: 5%;
    }