*
#FAQS_Content{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(../../rsc/image/Background.webp);
    background-size: 100% auto;
    background-repeat: repeat;
    height: max-content;
    padding-top: 3%;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 4.5%;
    font-family: noto;
}
@font-face {
    font-family: noto;
    src: url(../../rsc/font/NotoSerif-Bold.ttf);
}
#FAQS_Title{
    display: flex;
    align-items: center;
    font-size: 4vw;
    text-align: center;
    background-image: linear-gradient(to left top,rgb(248, 38, 41),rgb(255, 101, 104),rgb(30, 188, 255),rgb(30, 188, 255),rgb(255, 101, 104),rgb(248, 38, 41));
    background-clip: text;
    background-size: 200%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -o-background-clip: text;
    color: transparent;
    transition: 1s;
    margin-bottom: 3%;
    animation: faq_title 12s linear infinite;
    filter: drop-shadow(2px 2px black);
}
@keyframes faq_title {
    0%,100%{
        background-position: 0 0;
    }
    50%{
        background-position: 200%;
    }
}
#FAQS_des{
    color: gray;
    font-size: 1vw;
    margin-bottom: 1%;
}
.fa-file-circle-question{
    margin-left: 0.6vw;
    font-size: 2.8vw;
}
.FAQ_details{
    background-color: rgb(255, 255, 255);
    width: 65%;
    padding: 2%;
    padding-left: 5%;
    padding-right: 5%;
    border: 0.15vw solid transparent;
    margin-top: 1.5%;
    border-radius: 10px;
    box-shadow: 3px 3px 3px gray;
    color: gray;
    font-size: 1vw;
}
.FAQ_details > summary{
    width: 105%;
    position: relative;
    left: -2.5%;
    font-size: 1.2vw;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
summary::marker{
    content: "";
}
.FAQ_details:hover{
    transform: translateX(2px) translateY(2px);
}
.FAQ_details:hover >summary > .Title{
    background-image: linear-gradient(to left,rgb(248, 38, 41),rgb(255, 101, 104),rgb(30, 188, 255),rgb(5, 73, 104),rgb(30, 188, 255),rgb(255, 101, 104),rgb(248, 38, 41));
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -o-background-clip: text;
    color: transparent;
    transition: 1s;
}
.FAQ_details[open]:hover{
    transform: translateX(0px) translateY(0px);
}
.FAQ_details[open]:hover >summary > .Title{
    color: black;
}
.FAQ_details summary {
cursor: pointer;
transition: margin 0.5s ease-out;
}
.FAQ_details[open] summary {
margin-bottom: 2%;
}
.FAQ_details summary .append{
    content: url(../../rsc/image/more.png);
    width: 2vw;
    aspect-ratio: 1/1;
}
.FAQ_details[open] summary .append{
    content: url(../../rsc/image/less.png);
    width: 2vw;
    aspect-ratio: 1/1;
}
@keyframes fa-bounce-my{
    0%{-webkit-transform:scale(1) translateY(0);
        transform:scale(1) translateY(0)}
    50%{-webkit-transform:scale(var(--fa-bounce-start-scale-x,1.1),var(--fa-bounce-start-scale-y,1.1)) translateY(0);
        transform:scale(var(--fa-bounce-start-scale-x,1.1),var(--fa-bounce-start-scale-y,1.1)) translateY(0)}
}
.FAQ_details:hover summary .append{
    -webkit-animation-name:fa-bounce-my;
    animation-name:fa-bounce-my;
    -webkit-animation-delay:var(--fa-animation-delay,0s);
    animation-delay:var(--fa-animation-delay,0s);
    -webkit-animation-direction:var(--fa-animation-direction,normal);
    animation-direction:var(--fa-animation-direction,normal);
    -webkit-animation-duration:var(--fa-animation-duration,1.5s);
    animation-duration:var(--fa-animation-duration,1.5s);
    -webkit-animation-iteration-count:var(--fa-animation-iteration-count,infinite);
    animation-iteration-count:var(--fa-animation-iteration-count,infinite);
}
.FAQ_details[open]:hover summary .append{
    -webkit-animation-name:none;
    animation-name:none;
}
/*-------------------------------responsive--------------------------------------*/
@media only screen and (max-width:950px) and (min-width:651px){
    #FAQS_Title{
        font-size: 5vw;
    }
    #FAQS_des{
        font-size: 1.8vw;
        text-align: center;
        width: 50%;
        margin-bottom: 1%;
    }
    .fa-file-circle-question{
        margin-left: 1vw;
        font-size: 3.2vw;
    }
    .FAQ_details{
        width: 50%;
        font-size: 1.8vw;
        margin-bottom: 1% !important;
    }
    .FAQ_details >summary{
        flex-direction: column;
        font-size: 2vw;
    }
    .append{
        margin-top: 2%;
        margin-bottom: 1%;
        width: 2.5vw !important;
    }
}
@media only screen and (max-width:650px) and (min-width:501px){
    #FAQS_Title{
        font-size: 6vw;
    }
    #FAQS_des{
        font-size: 1.8vw;
        text-align: center;
        width: 65%;
        margin-bottom: 1.5%;
    }
    .fa-file-circle-question{
        margin-left: 2vw;
        font-size: 3.6vw;
    }
    .FAQ_details{
        width: 65%;
        font-size: 2vw;
        margin-bottom: 1% !important;
    }
    .FAQ_details >summary{
        flex-direction: column;
        font-size: 3vw;
        text-align: center;
    }
    .append{
        margin-top: 2%;
        margin-bottom: 1%;
        width: 3.2vw !important;
    }
}
@media only screen and (max-width:500px) and (min-width:300px){
    #FAQS_Title{
        font-size: 7vw;
    }
    #FAQS_des{
        font-size: 2.8vw;
        text-align: center;
        width: 80%;
        margin-bottom: 2%;
    }
    .fa-file-circle-question{
        margin-left: 2vw;
        font-size: 4.5vw;
    }
    .FAQ_details{
        width: 80%;
        font-size: 2.8vw;
        margin-bottom: 1.5% !important;
    }
    .FAQ_details >summary{
        flex-direction: column;
        font-size: 3.3vw;
        text-align: center;
    }
    .append{
        margin-top: 2%;
        margin-bottom: 1%;
        width: 4vw !important;
    }
}
@media only screen and (max-width:299px){
    #FAQS_Title{
        font-size: 8vw;
    }
    #FAQS_des{
        font-size: 3vw;
        text-align: center;
        width: 90%;
        margin-bottom: 2%;
    }
    .fa-file-circle-question{
        margin-left: 2vw;
        font-size: 4.5vw;
    }
    .FAQ_details{
        width: 85%;
        box-shadow: 1px 1px 1px gray;
        font-size: 3vw;
        margin-bottom: 1.5% !important;
    }
    .FAQ_details >summary{
        flex-direction: column;
        font-size: 4vw;
        text-align: center;
    }
    .append{
        margin-top: 2%;
        margin-bottom: 1%;
        width: 4vw !important;
    }
}